body{
    background-color: rgb(216, 193, 168);
    margin: 0;
}

.titulo{
    margin-top: 20px;
    text-align:center;
    align-content: center;
    font-weight:bold;

}

.imagen_principal{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.titulo_segundo{
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
}
.cuadrado{
    margin-left: 42%;
}

.cuadrado1{
    margin-left: 45%;
}

.titulofin{
    font-size: 130px;
    font-weight: bold;
    text-align: center;

}
.cuadrado{
    justify-content: center;
}

.imagen{
    width: 300px;
    margin-right: 500px;
    margin-top: 100px;
    margin-left:530px;
}

.texto{
    justify-content: center;
}